div{border:solid 3px pink; margin:5px;}h1,div{background-color:#ffff00;}#header{background-color:#00ffff;padding:5px;}#menu{background-color:#c0c0c0;padding:5px;width:25%;float:left; }#content{background-color:#c0c0c0;padding:5px;width:56.4%;float:left;}#footer{background-color:#c0c0c0;padding:5px;width:13%;float:left;}

